<div class="container h-100 d-flex justify-content-center mt-5">
  <div class="my-auto">
    <h2>Demographic Data</h2>
<br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <b><%= f.label :email %><br /></b>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
<br>
  
    <div class="form-group">        
      <b><%= f.label :age %><br /><b>
      <%= f.text_field :age %>
    </div>
    <br>

    <div class="form-group">        
      <b><%= f.label :gender %><br /><b>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :gender, "Male" %>
      <%= f.label :gender, 'Male', :value => 'Male' %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :gender, "Female" %>
      <%= f.label :gender, 'Female', :value => 'Female' %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :gender, "Other" %>
      <%= f.label :gender, 'Other', :value => 'Other' %>
    </div>
    <br>

    <div class="form-group">        
      <b><%= f.label :country, "Current Country" %><br /><b>
      <%= f.country_select :country %>
    </div>
    <br>

    <div class="form-group">
      <b><%= f.label :english_p, "English Proficiency" %><br /><b>
      &nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :english_p, "Very low" %>
      <%= f.label :english_p, 'Very low', :value => 'Very low' %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :english_p, "Low" %>
      <%= f.label :english_p, 'Low', :value => 'Low' %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :english_p, "Moderate" %>
      <%= f.label :english_p, 'Moderate', :value => 'Moderate' %>&nbsp;&nbsp;&nbsp;&nbsp;         
      <%= f.radio_button :english_p, "High" %>
      <%= f.label :english_p, 'High', :value => 'High' %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :english_p, "Very high" %>
      <%= f.label :english_p, 'Very high', :value => 'Very high' %>
    </div>
    <br>

    <div class="form-group">
      <%= f.submit "Submit" %>
    </div>
    <% end %>
  </div>
</div>

